body {
    /* background-image: url(https://i.pinimg.com/736x/96/1d/27/961d27ec840890c86fc3cde4824c95cb.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: darkolivegreen;
}

img {
    width: 64px;
}